<a href="javascript:void(0)" class="discount-buy-btn" onClick="buyNow()">
  {{ 'products.product.buy_now' | t }}
</a>
<script type="text/javascript">
  function instantBuy() {
      .always(function(data) {
        window.location.href = '/checkout';
        scrollToTop();
      });
  }

  function scrollToTop() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  }
</script>
<style>
  a.discount-buy-btn {
    font-family: "poppins", -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: normal;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    border-radius: 100px;
    border-style: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    margin: 0;
    min-height: 1.75rem;
    min-width: 1.75rem;
    padding: .375rem .75rem;
    text-align: center;
    text-decoration: none;
    transition: background-color .075s cubic-bezier(.19, .91, .38, 1), box-shadow .075s cubic-bezier(.19, .91, .38, 1);
    transition-behavior: normal, normal;
    user-select: none;
    background: #c661ff;
    border-color: transparent;
    border-width: 0;
    box-shadow: 0 .1875rem .0625rem -.0625rem rgba(26, 26, 26, .07);
    color: #fff;
    position: relative
