<div class="multipleContainer">
  {% if product.available %}
  <div>
    <input >
  </div>
  {% else %}
  <div>
    <input >
  </div>
  {% endif %}
</div>

<style>
  .multipleContainer{
    width: 100%;
  }
</style>