<div style="width: 100%;" class="row">
  <div class="column">        
    {% if product.available %}
       <div class="box">
         <div class="box-cont">
           <div class="box-cont-holder">
             <div>
               <input type="radio"/>
             </div>
             <div>               
               <span>Most Popular</span>
               <p>Buy two and save 15%</p>
             </div>
           </div>
           <div class="moneyHolder">
             <h5>save 15%</h5>
             <span>
               <div class="old-price" id="ComparePrice">{{ product.selected_or_first_available_variant.compare_at_price | money }}</div>
               <div class="new-price" id="ProductPrice">{{ product.selected_or_first_available_variant.price | money }}</div>
             </span>
             <span>100</span>
           </div>
         </div>
       </div> 
    {% else %}
      <div>Out of stock</div>
    {% endif %}
  </div>
</div>

<style>
  .box-cont{
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
    background-color: #ced8ff;
  }
  .box .box-cont .box-cont-holder{
    display: flex;
  }
  .box .box-cont .box-cont-holder input{
    width: 20px;
    height: 20px;
    margin: 10px;
  }
  .box .box-cont .box-cont-holder span{
    background-color: #e15f00;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    padding: 5px;
  }
  .box .box-cont .box-cont-holder p{
    font-size: 20px;
    font-weight: 600;
  }
  .moneyHolder{
    text-align: right;
  }
  .moneyHolder h5{
    color: blue;
  }
  .moneyHolder span{
    display: block;
  }
</style>