<div class="multipleContainer">
  {% if product.available %}
  <div class="multi-option">
    <div class="sm-con-left">
      <input type="radio" >
      <div>
        <span>Most Populare</span>
        <p>Buy two and sava 15%</p>
      </div>
    </div>

    <div></div>
    <div></div>
  </div>
    
  {% else %}
  <div>
    <input >
  </div>
  {% endif %}
</div>

<style>
  .multipleContainer{
    width: 100%;
  }
  .multipleContainer .multi-option .sm-con-left{
    display:flex;
  }
</style>