<div class="multipleContainer">
  {% if product.available %}
  <div class="multi-option">
    <div>
      <input type="radio" >
      <div>
        <span></span>
        <p></p>
      </div>
    </div>

    <div></div>
    <div></div>
  </div>
    
  {% else %}
  <div>
    <input >
  </div>
  {% endif %}
</div>

<style>
  .multipleContainer{
    width: 100%;
  }
</style>