<div style="width: 100%;" class="row">
  <div class="column">        
    {% if product.available %}
       <div class="boxContainer">
         
       </div> 
    {% else %}
      <div>Out of stock</div>
    {% endif %}
  </div>
</div>

