<section>
  <div class="before-after-slider">
  <div class="slider-container">
   
    {%- if section.settings.before_image -%}
    {{ section.settings.before_image | image_url: width: 512 | image_tag: 
    laoding: 'lazy',
    width: section.settings.before_image.width,
    height: section.settings.before_image.height,
    alt: section.settings.before_image.alt,
    class: "slider-image before-image" | escape}}
    {%- endif -%}
    
    {%- if section.settings.after_image -%}
    {{ section.settings.after_image | image_url: width: 512 | image_tag: 
    laoding: 'lazy',
    width: section.settings.after_image.width,
    height: section.settings.after_image.height,
    alt: section.settings.after_image.alt,
    class: "slider-image after-image" | escape}}
    {%- endif -%}
    
    <div class="slider-handle"></div>
  </div>
</div>

</section>
      
{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type": "header",
        "content": "bafore & after settings"
      },
      {
        "type": "image_picker",
        "id": "before_image",
        "label": "before image",
      },
      {
        "type": "image_picker",
        "id": "after_image",
        "label": "after image",
      }
    ]
  }
{% endschema %}

<style>
  .before-after-slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
}

.after-image {
  clip: rect(0, 0, auto, 0);
}

.slider-handle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 100%;
  background: #000;
  cursor: ew-resize;
  transform: translate(-50%, -50%);
  z-index: 10;
}

</style>